.categoryCard {
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: black;

    margin: 0 auto;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
}

.categoryCardContainer {
    height: 225px;
    /* width: 300px; */
    background-image: url('../../images/asparagus-soup/asparagus-soup-5.jpg');
    background-size: cover;
    resize: both;
    /* overflow: scroll; */
}

.categoryCardTitle{
    opacity: 1;
    color: white;
    width: 50%;
    /* padding: 20px; */
    resize: both;
    overflow: 'none';

}

.categoryCardTitle h3 {
    color: white !important;
}